/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;



.list_container {
  direction: rtl;
  overflow-y:scroll;

}

.item_direction {
  direction:ltr;
}

.list_container::-webkit-scrollbar {
  width: 2px;
}

.list_container::-webkit-scrollbar-track {
  background: #979EA9;
}

.list_container::-webkit-scrollbar-thumb {
  border-right: solid black;
}

.centre{
  margin-inline: auto !important;
}
